artifacts/static/morningstar/xsd/IDC.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mdt="MorningstarData" targetNamespace="MorningstarData" elementFormDefault="qualified" version="1.52">
  <xsd:complexType name="holdingDetailType">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="Country" type="mdt:tokenIdChar3Type" minOccurs="0"/>
        <xsd:element name="CUSIP" type="mdt:char9" minOccurs="0"/>
        <xsd:element name="SEDOL" type="mdt:char7" minOccurs="0"/>
        <xsd:element name="ISIN" type="mdt:char12" minOccurs="0"/>
        <xsd:element name="Ticker" type="mdt:varchar10" minOccurs="0"/>
        <xsd:element name="Currency" type="mdt:tokenIdChar3Type" minOccurs="0"/>
        <xsd:element name="SecurityName" type="mdt:varchar75"/>
        <xsd:element name="LocalName" minOccurs="0">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="mdt:varchar40">
                <xsd:attribute name="_LanguageId" type="mdt:char10" use="required"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Weighting" type="mdt:smallRawDecimal" minOccurs="0"/>
        <xsd:element name="NumberOfShare" type="xsd:unsignedLong" minOccurs="0"/>
        <xsd:element name="SharePercentage" type="mdt:smallRawDecimal" minOccurs="0"/>
        <xsd:element name="NumberOfJointlyOwnedShare" type="xsd:unsignedLong" minOccurs="0"/>
        <xsd:element name="MarketValue" type="xsd:long" minOccurs="0"/>
        <xsd:element name="CostBasis" type="mdt:bigRawDecimal" minOccurs="0"/>
        <xsd:element name="ShareChange" type="xsd:long" minOccurs="0"/>
        <xsd:element name="Sector" type="mdt:tokenIdNonNegativeIntegerType" minOccurs="0"/>
        <xsd:element name="MaturityDate" type="xsd:date" minOccurs="0"/>
        <xsd:element name="AccruedInterest" type="mdt:nonNegativeBigRawDecimal" minOccurs="0"/>
        <xsd:element name="Coupon" type="mdt:nonNegativeSmallRawDecimal" minOccurs="0"/>
        <xsd:element name="CreditQuality" type="mdt:varchar10" minOccurs="0"/>
        <xsd:element name="Duration" type="mdt:nonNegativeSmallRawDecimal" minOccurs="0"/>
        <xsd:element name="IndustryId" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="GlobalIndustryId" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="GlobalSector" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="GICSIndustryId" type="mdt:char8" minOccurs="0"/>
        <xsd:element name="LocalCurrencyCode" type="mdt:char3" minOccurs="0"/>
        <xsd:element name="ZAFAssetType" type="mdt:varchar3" minOccurs="0"/>
        <xsd:element name="LocalMarketValue" type="xsd:long" minOccurs="0"/>
        <xsd:element name="Rule144AEligible" type="xsd:boolean" minOccurs="0"/>
        <xsd:element name="AltMinTaxEligible" type="xsd:boolean" minOccurs="0"/>
        <xsd:element name="SecondarySectorId" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="FirstBoughtDate" type="xsd:date" minOccurs="0"/>
        <xsd:element name="ISOExchangeId" type="mdt:char4" minOccurs="0"/>
        <xsd:element name="CompanyId" type="mdt:char10" minOccurs="0"/>
        <xsd:element name="CompanyName" type="mdt:varchar200" minOccurs="0"/>
        <xsd:element name="LessThanOneYearBond" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="AccountingValue" type="xsd:long" minOccurs="0"/>
        <xsd:element name="AccountingLocalValue" type="xsd:long" minOccurs="0"/>
        <xsd:element name="ZAFBondIssuerClass" type="mdt:varchar4" minOccurs="0"/>
        <xsd:element name="IndianCreditQualityClassification" type="mdt:varchar25" minOccurs="0"/>
        <xsd:element name="IndianIndustryClassification" type="mdt:tokenIdPositiveIntegerType" minOccurs="0"/>
        <xsd:element name="GeographicZone" type="mdt:varchar5" minOccurs="0"/>
        <xsd:element name="PerformanceId" type="mdt:char10" minOccurs="0"/>
        <xsd:element name="CIC" type="mdt:varchar4" minOccurs="0"/>
        <xsd:element name="NACE" type="mdt:varchar5" minOccurs="0"/>
        <xsd:element name="EDIIssuerName" minOccurs="0">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="_Id" type="xsd:integer" use="required"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="NominalValue" type="mdt:smallRawDecimal" minOccurs="0"/>
        <xsd:element name="IssueDate" type="xsd:date" minOccurs="0"/>
        <xsd:element name="OutstandingAmount" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="CouponType" minOccurs="0">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="_Id" type="xsd:string" use="required"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CouponFrequency" minOccurs="0">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="_Id" type="xsd:string" use="required"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="IntCommencementDate" type="xsd:date" minOccurs="0"/>
        <xsd:element name="FirstCouponDate" type="xsd:date" minOccurs="0"/>
        <xsd:element name="InterestAccrualConvention" type="mdt:varchar10" minOccurs="0"/>
        <xsd:element name="MatPriceAsPercent" type="mdt:smallRawDecimal" minOccurs="0"/>
        <xsd:element name="Perpetual" type="mdt:char1" minOccurs="0"/>
        <xsd:element name="MaturityStructure" minOccurs="0">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="_Id" type="mdt:char1" use="required"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Callable" type="mdt:char1" minOccurs="0"/>
        <xsd:element name="Puttable" type="mdt:char1" minOccurs="0"/>
        <xsd:element name="SettlementDate" type="xsd:date" minOccurs="0"/>
        <xsd:element name="PrimaryExchange" minOccurs="0">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="_Id" type="xsd:string" use="required"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="YieldtoMaturity" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="ModifiedDuration" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="MacaulayDuration" type="mdt:smallRawDecimal" minOccurs="0"/>
        <xsd:element name="Convexity" type="mdt:smallRawDecimal" minOccurs="0"/>
        <xsd:element name="FitchRating" type="mdt:varchar4" minOccurs="0"/>
        <xsd:element name="MoodyRating" type="mdt:varchar4" minOccurs="0"/>
        <xsd:element name="MSCategoryId" type="mdt:char10" minOccurs="0"/>
        <xsd:element name="BloombergTicker" type="mdt:char4" minOccurs="0"/>
        <xsd:element name="ContractSize" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="UnderlyingSecId" type="mdt:char10" minOccurs="0"/>
        <xsd:element name="UnderlyingSecurityName" type="mdt:varchar200" minOccurs="0"/>
        <xsd:element name="IDC" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:choice minOccurs="0">
                <xsd:element name="ITT12_CIC" type="mdt:char4" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT13_CountryOfQuotation" type="mdt:char3" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT14_ISIN" type="mdt:char12" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT14A_SEDOL" type="mdt:char7" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT14B_CUSIP" type="mdt:char9" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT14C_AIIMIC" type="mdt:char4" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT14D_AIIExchangeProductCode" type="mdt:char12" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT14E_AIIDerivativeType" type="mdt:char12" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT14F_AIIPutCallId" type="mdt:char1" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT14G_AIIExpiryDeliveryPromptDate" type="mdt:date" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT14H_AIIStrikePrice" type="mdt:char20" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT17_Name" type="mdt:varchar32" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT32_InterestRateType" type="mdt:varchar32" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT33_CouponRate" type="mdt:char20" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT36_InterestRateIndexName" type="mdt:varchar100" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT37_InterestRateMargin" type="mdt:char20" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT38_CouponPaymentFrequency" type="mdt:varchar25" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT39_Maturitydate" type="mdt:date" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT40_RedemptionType" type="mdt:varchar50" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT41_RedemptionRate" type="mdt:varchar15" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT42_CallablePutable" type="mdt:char3" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT43_CallDate" type="mdt:date" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT43A_Putdate" type="mdt:date" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT44_IssuerBearerOptionExercise" type="mdt:char3" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT45_StrikePriceEmbeddedCallOption" type="mdt:char20" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT45A_StrikePriceEmbeddedPutOption" type="mdt:char20" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT46_IssuerName" type="mdt:varchar500" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT47_IssuerIdCode" type="mdt:char20" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT48_IssuerTypeOfIdCode" type="mdt:char3" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT49_IssuerGroupName" type="mdt:varchar500" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT50_IssuerGroupLEI" type="mdt:char20" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT51_IssuerGroupTypeOfIdCode" type="mdt:char3" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT52_IssuerCountryOfIncorporation" type="mdt:char3" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT53_IssuerGeographicalZoneOfIssue" type="mdt:char4" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT54_IssuerNACE" type="mdt:char8" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT55_IssueCovered" type="mdt:varchar32" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT56_IssueSecuritisation" type="mdt:char1" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT57_IssueExplicitGuaranteeCountryOfIssue" type="mdt:varchar36" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT58_IssueSubordinatedDebt" type="mdt:char20" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT58A_IssueNatureOftheTRANCHE" type="mdt:char6" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT59_IssueSPIssueLong" type="mdt:char6" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT59A_IssueMoodyIssueLong" type="mdt:char6" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT59B_IssueFitchIssueLong" type="mdt:char6" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT60_IssueCallPut" type="mdt:char1" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT61_IssueStrikePrice" type="mdt:varchar15" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT63_IssueExpiryDate" type="mdt:date" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT64_IssueExerciseType" type="mdt:varchar40" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT67_UnderlyingCIC" type="mdt:char4" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT68_UnderlyingISIN" type="mdt:char12" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT68A_UnderlyingSEDOLIDII" type="mdt:char7" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT68B_UnderlyingCUSIP" type="mdt:char9" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT70_UnderlyingName" type="mdt:varchar32" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT71_UnderlyingQuotationCurrency" type="mdt:char3" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT72_UnderlyingPriceSource1" type="mdt:varchar50" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT72A_UnderlyingPrice1A" type="mdt:varchar15" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT72B_UnderlyingPrice1B" type="mdt:varchar15" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT72C_UnderlyingPriceType1" type="mdt:varchar36" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT72D_UnderlyingPriceChangeDate1" type="mdt:date" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT72E_UnderlyingPriceSource2" type="mdt:varchar50" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT72F_UnderlyingPrice2A" type="mdt:varchar15" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT72G_UnderlyingPrice2B" type="mdt:varchar15" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT72H_UnderlyingPriceType2" type="mdt:varchar36" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT72I_UnderlyingPriceChangeDate2" type="mdt:date" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT73_UnderlyingCountryOfQuotation" type="mdt:char3" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT75_UnderlyingCouponRate" type="mdt:char20" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT76_UnderlyingCouponPaymentFrequency" type="mdt:varchar25" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT77_UnderlyingMaturityDate" type="mdt:date" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT78_UnderlyingRedemptionProfile" type="mdt:varchar50" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT79_UnderlyingRedemptionRate" type="mdt:varchar15" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT80_UnderlyingIssuerName" type="mdt:varchar500" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT81_UnderlyingIssuerIdCode" type="mdt:char20" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT82_UnderlyingIssuerTypeOfIdCode" type="mdt:char3" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT83_UnderlyingIssuerGroupName" type="mdt:varchar500" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT84_UnderlyingIssuerGroupLEI" type="mdt:char20" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT85_UnderlyingIssuerGroupTypeOfIdCode" type="mdt:char3" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT86_UnderlyingIssuerCountryOfIncorporation" type="mdt:char3" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT87_UnderlyingIssuerGeographicalZoneOfIssue" type="mdt:char4" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT88_UnderlyingIssueExplicitGuaranteeCountryOfIssue" type="mdt:varchar36" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT89_UnderlyingIssueSPIssueLong" type="mdt:char6" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT89A_UnderlyingIssueMoodyIssueLong" type="mdt:char6" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT89B_UnderlyingIssueFitchIssueLong" type="mdt:char6" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT90_ModifiedDuration" type="mdt:char9" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT94_Convexity" type="mdt:char8" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT112_IssueSPIssuerLong" type="mdt:char6" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT112A_IssueMoodyIssuerLong" type="mdt:char6" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT112B_IssueFitchIssuerLong" type="mdt:char6" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT114_IssueIssuerGeographicalZoneOfIssue" type="mdt:char4" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT129_BIDYield" type="mdt:char12" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ITT130_ZVO_Bid" type="mdt:char20" minOccurs="0" maxOccurs="unbounded"/>
              </xsd:choice>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="_Id" type="mdt:char10"/>
    <xsd:attribute name="_DetailHoldingTypeId" type="mdt:varchar2" use="required"/>
    <xsd:attribute name="_StorageId" type="xsd:unsignedInt"/>
    <xsd:attribute name="_ExternalId" type="mdt:varchar25"/>
    <xsd:attribute name="ExternalName" type="mdt:varchar500"/>
    
  </xsd:complexType>
  
</xsd:schema>
